{% extends "layout.html" %}

{% block title %}
Book Details
{% endblock %}

{% block body %}
    <ul>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author }}</li>
        <li>ISBN: {{ book.isbn }}</li>
        <li>Year: {{ book.year}}</li>
    </ul>
    {% if not already_reviewed %}
        Leave a review for this book <a href="{{ url_for('review', book_isbn=book.isbn) }}">here</a>
    {% endif %}
    <br>
    Goodreads average rating: {{ rating }}
    <div class="reviews">
        <ul>
            {% for review in reviews %}
                <li>Rating: {{ review.rating }}</li>
                <li>{{ review.message }}</li>
                <li>Reviewer: {{ review.reviewer }}</li>
                <br>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url_for('search') }}">Go back</a>

    <form action="{{ url_for('logout') }}", method="post">
        <button>Logout</button>
    </form>
{% endblock %}
