{% extends "layout.html" %}

{% block heading %}
    Registration page
{% endblock %}

{% block body %}
    <form action="{{ url_for('register') }}" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="password2" placeholder="Confirm password">
        <button>Register and log in now!</button>
    </form>
    <a href="{{ url_for('index') }}" method="get">Go back</a>
{% endblock %}