{% extends "layout.html" %}

{% block heading %}
    Search for a book
{% endblock %}

{% block body %}
    <form action="{{ url_for('search') }}" method="POST">
        <div class="dropdown">
            <button class="dropbtn">Search by</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        <button>Search</button>
    </form>

    <form action="{{ url_for('index') }}", method="get">
        <button>Logout</button>
    </form>
{% endblock %}