{% extends "layout.html" %}

{% block heading %}
    Search for a book
    <h6>Logged in as {{ user }}</h6>
{% endblock %}

{% block body %}
    <form action="{{ url_for('search') }}" method="post">
        <input type="text" name="book_search" placeholder="Search for a book title, author or ISBN" size="40px">
        <button>Go!</button>
    </form>
    <div class="books">
        <ul>
            {% for book in books %}
                <li>
                    <a href="{{ url_for('book', book_isbn=book.isbn) }}">
                        {{ book.title }} by {{ book.author }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <form action="{{ url_for('logout') }}", method="post">
        <button>Logout</button>
    </form>
{% endblock %}